p{
    border-bottom: dotted 2px #87CEFA;
    font-family:'メイリオ';
    font-weight: bold;
}
.img{
    width: 100px;
    height: 100px;
    margin: auto;
}
h2 {
    position: relative;
     margin: auto;
     text-align: center;
     width: 400px;
   }
   
   h2:before,
   h2:after {
     position: absolute;
     z-index: 0;
     bottom: -10px;
     display: block;
     content: '';
     border: 1em solid #06d9ce;
   }
   
   h2:before {
     left: -30px;
     border-left-width: 15px;
     border-left-color: transparent;
   }
   
   h2:after {
     right: -30px;
     border-right-width: 15px;
     border-right-color: transparent;
   }
   
   h2 span {
     position: relative;
     z-index: 1;
     display: block;
     padding: 1rem 2rem;
     color: rgb(0, 0, 0);
     background: #41f1fa;
   }
   
   h2 span:before,
   h2 span:after {
     position: absolute;
     bottom: -10px;
     display: block;
     width: 10px;
     height: 10px;
     content: '';
     border-style: solid;
     border-color: #05a8b7 transparent transparent transparent;
   }
   
   h2 span:before {
     left: 0;
     border-width: 10px 0 0 10px;
   }
   
   h2 span:after {
     right: 0;
     border-width: 10px 10px 0 0;
   }
.gap{
    height: 50px;
}
.logo {
    position: relative;
    padding: 1rem .5rem;
    text-align: center;
  }
  
  .logo:before,
  .logo:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#30cfd0), to(#330867));
    background-image: -webkit-linear-gradient(right, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
  }
  
  .logo:before {
    top: 0;
  }
  
  .logo:after {
    bottom: 0;
  }

.profile{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    text-align: center;
}
.appeal{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    text-align: center;
    height: 200px;
    overflow: auto;
}
@media screen and (max-width:399px) {
    .lang{
        padding: 0.5em 1em;
        margin: 2em 0;
        border: double 5px #4ec4d3;
        text-align: center;
        height: 450px;
        overflow: auto;
        grid-template-rows:50px 50px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
        grid-template-columns:50%;
    }
    #lang{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        text-align: center;
    }
    #ex{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        text-align: center;
    }
    #html{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    #css{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    #js{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    #java{
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    #sql{
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    #php{
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    #python{
        grid-row: 9 / 10;
        grid-column: 1 / 2;
    }
    #go{
        grid-row: 10 / 11;
        grid-column: 1 / 2;
    }
    
    /* framework */

    #github{
        grid-row: 11 / 12;
        grid-column: 1 / 2;
    }
    #bootstrap{
        grid-row: 12 / 13;
        grid-column: 1 / 2;
    }
    #vue{
        grid-row: 13 / 14;
        grid-column: 1 / 2;
    }
    #react{
        grid-row: 14 / 15;
        grid-column: 1 / 2;
    }
    #springboot{
        grid-row: 15 / 16;
        grid-column: 1 / 2;
    }
    #laravel{
        grid-row: 16 / 17;
        grid-column: 1 / 2;
    }
    #fastapi{
        grid-row: 17 / 18;
        grid-column: 1 / 2;
    }
    #flask{
        grid-row: 18 / 19;
        grid-column: 1 / 2;
    }
}
@media (min-width:400px){
    .lang{
        padding: 0.5em 1em;
        margin: 2em 0;
        border: double 5px #4ec4d3;
        text-align: center;
        height: 450px;
        overflow: auto;
        display:grid;
        grid-template-rows:50px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
        grid-template-columns:50% 50%;
    }
    #lang{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        text-align: center;
    }
    #ex{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        text-align: center;
    }
    #html{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    #css{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    #js{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    #java{
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    #sql{
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    #php{
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    #python{
        grid-row: 9 / 10;
        grid-column: 1 / 2;
    }
    #go{
        grid-row: 10 / 11;
        grid-column: 1 / 2;
    }
    
    /* framework */

    #github{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    #bootstrap{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    #vue{
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    #react{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }
    #springboot{
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }
    #laravel{
        grid-row: 8 / 9;
        grid-column: 2 / 3;
    }
    #fastapi{
        grid-row: 9 / 10;
        grid-column: 2 / 3;
    }
    #flask{
        grid-row: 10 / 11;
        grid-column: 2 / 3;
    }
}
.history{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    text-align: center;
    height: 200px;
    overflow: auto;
}